.Player {
    background-color: rgba(250, 250, 250, 0.16);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    box-sizing: border-box;
}

.PlayerBackground {
    content: "";
    width: 100vw;
    height: 100svh;
    margin-top: -100svh;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(32px);
    transition: all 200ms ease-in-out 50ms;
    z-index: -1;
}